@font-face {
font-family: 'bebasBold';
src: url('/public/assets/BebasNeueBold.ttf');
}
@font-face {
font-family: 'bebasBook';
src: url('/public/assets/BebasNeue Book.ttf');
}
@font-face {
font-family: 'bebasLight';
src: url('/public/assets/BebasNeue Light.ttf');
}
@font-face {
font-family: 'bebasRegular';
src: url('/public/assets/BebasNeue Regular.ttf');
}
@font-face {
font-family: 'bebasThin';
src: url('/public/assets/BebasNeue Thin.ttf');
}

/*Kenyan Font*/
@font-face {
font-family: 'kenyanBold';
src: url('/public/assets/kenyan coffee bd.ttf');
}
@font-face {
font-family: 'kenyanRegular';
src: url('/public/assets/kenyan coffee rg.ttf');
}
