@import 'angle';
@import 'fonts';

//Page Sizing and Margins
html body{
  height: 100%;
  width: 100%;
}
body{
  margin: 0 auto;

}

.hidden { display: none; }

//Skewed DIV section
#skewed{
  nav{
    float: right;
    margin-right: 30px;
    margin-top: 20px;
    i{
      color: #0D47A1;
      font-size: 2.3vw;
    }
  }
  .content-block{
    height: 500px;
    width: 100%;

  }

  //Header Content Styles
  /*Header Content Styles*/
  #header{
    height: 625px !important;
    background-image: url(../img/header-bg.png) !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .header-wrapper{
      ul{
        
      }
      section{
        .logo-wrapper{
          #brand-logo{
            display: block;
            margin: 0 auto;
            padding-top: 30px;
            width: 100%;
            height: auto;
            max-width: 450px;
          }
        }
        #header-title{
          text-align: center;
          font-size: 3.5vw;
          font-family: 'kenyanRegular' !important;
          padding-bottom: 10px;
        }
      }
    }
  }

  //Why Content Styles
  /*Why Content Styles*/
  #why-exist-block{
    background-image: -webkit-gradient(linear, 865 0, 0 0, color-stop(0.028, #0b1fa9), to(#091b94));
    background-image: -webkit-linear-gradient(180deg, #0b1fa9 2.8%, #091b94);
    background-image: -moz-linear-gradient(180deg, #0b1fa9 2.8%, #091b94);
    background-image: -o-linear-gradient(180deg, #0b1fa9 2.8%, #091b94);
    background-image: linear-gradient(270deg, #0b1fa9 2.8%, #091b94);
    @include angle(both, true);

    /*background-image: url(../img/what-we-offer-bg.png) !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;*/

      .main-title{
      padding-top: 40px;
      }
      .why-text{
        color: white;
        font-size: 8vw;
        line-height: 5.2vw;
        .bold-text{
          font-weight: 400;
          font-family: 'bebasBold';

        }
        .thin-text{
          font-weight: 200;
          font-family: 'bebaslight';

        }
        .thinner-text{
          font-weight: 100;
          font-family: 'bebasThin';
        }
      }
      #why-sub-text{
        width: 100%;
        color: white !important;
        font-size: 1.9vw !important;
        font-family: 'bebasRegular' !important;
      }
      hr{
        margin-right: 480px;
      }
  }

  //Divider Styles
  /*Divider Styles*/
  .first-divider{
    height: 300px !important;
    width: 100%;
    background-image: url(../img/first-divider.png) !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .second-divider{
    height: 300px !important;
    width: 100%;
    background-image: url(../img/second-divider.png) !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  //How Content Styles
  /*How Content Styles*/
  #how-block{
    background-image: -webkit-gradient(linear, 0 0, 960.5 0, color-stop(0.019, #0097f1), color-stop(0.271, #00a1f1), to(#00b3f1));
    background-image: -webkit-linear-gradient(360deg, #0097f1 1.9%, #00a1f1 27.1%, #00b3f1);
    background-image: -moz-linear-gradient(360deg, #0097f1 1.9%, #00a1f1 27.1%, #00b3f1);
    background-image: -o-linear-gradient(360deg, #0097f1 1.9%, #00a1f1 27.1%, #00b3f1);
    background-image: linear-gradient(90deg, #0097f1 1.9%, #00a1f1 27.1%, #00b3f1);
    @include angle(both, after);
    /*background-image: url(../img/how-bg.png) !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;*/
      .main-title{
        padding-top: 30px;
      }
      .how-text{
        color: white;
        font-size: 8vw;
        line-height: 5.2vw;
        .bold-text{
          font-weight: 400;
          font-family: 'bebasBold';
        }
        .thin-text{
          font-weight: 200;
          font-family: 'bebaslight';
        }
        .thinner-text{
          font-weight: 100;
          font-family: 'bebasThin';
        }
      }
      #how-sub-text{
        width: 100%;
        color: white !important;
        font-size: 1.8vw !important;
        font-family: 'bebasRegular' !important;
      }
  }

  //What Do We Offer Content Styles
  /*What Do We Offer Content Styles*/
  #what-block{
    background-image: -webkit-gradient(linear, 865 0, 0 0, color-stop(0.028, #0b1fa9), to(#091b94));
    background-image: -webkit-linear-gradient(180deg, #0b1fa9 2.8%, #091b94);
    background-image: -moz-linear-gradient(180deg, #0b1fa9 2.8%, #091b94);
    background-image: -o-linear-gradient(180deg, #0b1fa9 2.8%, #091b94);
    background-image: linear-gradient(270deg, #0b1fa9 2.8%, #091b94);
    @include angle(both, true);

    /*background-image: url(../img/what-we-offer-bg.png) !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;*/
      .main-title{
        padding-top: 40px;
      }
      .what-text{
        color: white;
        font-size: 8vw;
        line-height: 5.2vw;
        .bold-text{
          font-weight: 400;
          font-family: 'bebasBold';
        }
        .thin-text{
          font-weight: 200;
          font-family: 'bebaslight';
        }
        .thinner-text{
          font-weight: 100;
          font-family: 'bebasThin';
        }
        hr{
          margin-right: 80px;
        }
      }
      #what-sub-text{
        width: 100%;
        color: white !important;
        font-size: 1.8vw !important;
        font-family: 'bebasRegular' !important;
      }
  }

  //What Do We Offer Content Styles
  /*What Do We Offer Content Styles*/
  #analysis-block{

    background-image: url(../img/analysis-bg.png) !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
      #analysis-list{
        margin-top: 80px;
        line-height: 0.5vw;
        .list-head{

          font-family: 'bebasBold';
          color: #0D47A1;
          font-size: 1.5vw;
            .list-description{
              color: white;
              font-size: 2vw;
              font-weight: 200;
              text-align: right;
              font-family: 'bebasLight' !important;
            }
        }
      }
  }

  //Services Offer Content Styles
  /*Services Offer Content Styles*/
  #services-block{
    @include angle(both, true);
    background-image: url(../img/our-services-bg.png) !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
      .main-title{
        padding-top: 80px;
      }
      ul{

        .services-list{
          margin-bottom: 15px;
          text-align: right;
          color: #0D47A1;
          font-family: 'bebasRegular' !important;
          font-size: 1.2vw;
        }
      }
      .services-text{
        color: #0D47A1;
        font-size: 10.2vw;
        line-height: 7.2vw;

        .thin-text{
          font-family: 'bebasRegular' !important;
        }
        .thinner-text{
          font-family: 'bebasLight' !important;
        }
      }
  }

  //Contact Styles
  /*Contact Styles*/
  #contact-block{
    background-image: -webkit-gradient(linear, 865 0, 0 0, color-stop(0.028, #0b1fa9), to(#091b94));
    background-image: -webkit-linear-gradient(180deg, #0b1fa9 2.8%, #091b94);
    background-image: -moz-linear-gradient(180deg, #0b1fa9 2.8%, #091b94);
    background-image: -o-linear-gradient(180deg, #0b1fa9 2.8%, #091b94);
    background-image: linear-gradient(270deg, #0b1fa9 2.8%, #091b94);
    @include angle(both);

    height: 475px !important;
    /*background-image: url(../img/what-we-offer-bg.png) !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;*/
      .main-title{
        padding-top: 20px;
      }
      .contact-text{
        color: white;
        font-size: 10vw;
        text-align: right !important;
        line-height: 7.1vw;

        .thin-text{
          font-family: 'bebasLight' !important;
          font-size: 10vw !important;

        }
        .thinner-text{
          font-family: 'bebasThin' !important;
        }
      }
    #textarea{
      float: none !important;
    }
  }

  //Footer Content Styles
  /*Footer Content Styles*/
  #footer-block{

    #first-footer{
      @include angle(before, true);
      height: 250px !important;
      background-color: #BDBDBD;
      color: white;

    }
    #second-footer{
      height: 45px !important;
      background-color: #424242;
      color: white;
    }
  }
}
