<div class="container" id="skewed">

  <div class="content-block" id="header">
    <nav>
      <div class="row">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
      </div>
    </nav>
    <section class="row">
      <div class="logo-wrapper">
        <img src="http://placehold.it/350x350" alt="brand" id="brand-logo">
      </div>
      <h3 class="text-center" id="header-title">A Global Cyber Security Company</h3>
    </section>
  </div>

  <div class="content-block" id="why-exist-block">
    <div class="row main-title">
      <div class="small-3 large-3  small-offset-1 large-offset-1 columns">
        <h3 class="why-text">
          <span class="bold-text">WHY</span> <br />
          <span class="thin-text">DO WE</span> <br />
          <span class="thinner-text">EXIST?</span>
          <hr />
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="small-8 large-8 small-offset-1 large-offset-1 columns">
        <p id="why-sub-text">
          To help make CISCO teams more effective.
        </p>
      </div>
    </div>
  </div>

  <div class="content-block dividers"></div>

  <div class="content-block" id="how-block">
    <div class="row main-title" >
      <div class="small-4 large-4  small-offset-1 large-offset-1 columns">
        <h3 class="how-text">
          <span class="bold-text">HOW</span> <br />
          <span class="thin-text">DO WE</span> <br />
          <span class="thinner-text">DO THIS?</span>
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="small-8 large-8 small-offset-1 large-offset-1 columns">
        <p id="how-sub-text">
          Through collaboration with global CISCO teams and the cyber security industry.
        </p>
      </div>
    </div>
  </div>

  <div class="content-block dividers"></div>

  <div class="content-block" id="what-block">
    <div class="row main-title" >
      <div class="small-4 large-4  small-offset-1 large-offset-1 columns">
        <h3 class="what-text">
          <span class="bold-text">WHAT</span> <br />
          <span class="thin-text">DO WE</span> <br />
          <span class="thinner-text">OFFER?</span>
          <hr />
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="small-8 large-8 small-offset-1 large-offset-1 columns">
        <p id="what-sub-text">
          Expert advice, analysis, guidance, training, and counsel for global CISCO teams.
        </p>
      </div>
    </div>
  </div>


</div>
