<div class="container" id="skewed">
  <!--Start Skewed container -->

  <i class="fa fa-arrow-circle-o-left fa-2x" id="showEbook" aria-hidden="true"></i>
  <!--Launch Ebook Ad -->

  <div class="pop-out container hidden">
    <!--Ebook Block -->

    <div class="row">
      <div class="small-12 large-12 columns" id="custom-ad">
        <div id="ebook-ad">
          <img id="ebook-img" src="public/img/ebook.png" alt="ebook" />
          <div id="ebook-text">
            <span id="ebook-bold">COMING SOON</span>
            <br />
            <span id="ebook-thin">September 2016</span>
            <br />
            <span id="ebook-regular">2017 TAG Cyber Security Annual</span>
            <br />
            <p id="ebook-small">Advanced Cyber Security Industry Analysis And Technical Guidance for CISO.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="content-block" id="header">
    <!--Start Header Block-->

    <nav class="nav">
      <ul class="hidden" id="tagNav">
        <li><a href="#header-block"><i class="fa fa-level-up fa-2x" aria-hidden="true"></i></a></li>
        <li><a href="#why-exist-block">WHY</a></li>
        <li><a href="#how-block">HOW</a></li>
        <li><a href="#what-block">WHAT</a></li>
        <li><a href="#analysis-block">ANALYSIS</a></li>
        <li><a href="#services-block">SERVICES</a></li>
        <li><a href="#contact-block">CONTACT</a></li>
        <li><a href="public/img/tagBio.pdf" target="_blank">LEADERSHIP</a></li>
      </ul>

      <i class="fa fa-bars fa-2x" id="menu-burger" aria-hidden="true"></i>

    </nav>

    <div class="header-wrapper" id="header-block">
      <section class="row">
        <div class="logo-wrapper">
          <img src="../public/img/logo.png" alt="brand" id="brand-logo">
        </div>
        <h3 class="text-center" id="header-title">A Global Cyber Security Company</h3>
      </section>
    </div>
  </div>
  <!--End Header Block-->

  <!--Start Why Exist Block-->
  <div id="why-exist-block" class="content-block">

    <!--Start Why Exist Block -->
    <div class="why-wrapper">
      <div class="row main-title">
        <div class="small-11 large-8 small-offset-1 large-offset-1 columns">
          <h3 class="why-text show-for-large"><span class="bold-text">WHY</span>
  <span class="thin-text">DO WE</span>
  <span class="thinner-text">EXIST?</span></h3>

          <hr class="show-for-large" />

          <h3 class="why-text hide-for-large"><span class="bold-text">WHY</span>
  <span class="thin-text">DO WE</span>
  <span class="thinner-text">EXIST?</span></h3>

          <hr class="hide-for-large" />

        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-11 large-8 small-offset-1 large-offset-1 columns">
        <p id="why-sub-text">To help make CISO teams more effective.</p>

      </div>
    </div>
  </div>
  <!--End Why Exist Block-->

  <!-- First Divider -->
  <div class="content-block first-divider"></div>
  <!--End First Divider -->

  <!--Start How Block -->
  <div id="how-block" class="content-block">
    <div class="row main-title">
      <div class="small-11 large-4 small-offset-1 large-offset-1 columns">
        <h3 class="how-text show-for-large"><span class="bold-text">HOW</span>
  <span class="thin-text">DO WE</span>
  <span class="thinner-text">DO THIS?</span></h3>
        <h3 class="how-text hide-for-large"><span class="bold-text">HOW</span>
  <span class="thin-text">DO WE</span>
  <span class="thinner-text">DO THIS?</span></h3>

        <hr />

      </div>
    </div>
    <div class="row">
      <div class="small-11 large-8 small-offset-1 large-offset-1 columns">
        <p id="how-sub-text">Through collaboration with global CISO teams and the cyber security industry.</p>

      </div>
    </div>
  </div>
  <!--End How Block -->

  <!-- Second Divider -->
  <div class="content-block second-divider"></div>
  <!--End Second Divider -->

  <!--Start What Block-->
  <div id="what-block" class="content-block">

    <!--Start What Block-->
    <div class="row main-title">
      <div class="small-11 large-4 small-offset-1 large-offset-1 columns">
        <h3 class="what-text show-for-large"><span class="bold-text">WHAT</span>
  <span class="thin-text">DO WE</span>
  <span class="thinner-text">OFFER?</span></h3>

        <hr class="show-for-large" />

        <h3 class="what-text hide-for-large"><span class="bold-text">WHAT</span>
  <span class="thin-text">DO WE</span>
  <span class="thinner-text">OFFER?</span></h3>

        <hr class="hide-for-large" />


      </div>
    </div>
    <div class="row">
      <div class="small-11 large-8 small-offset-1 large-offset-1 columns">
        <p id="what-sub-text">Expert advice, analysis, guidance, training, and consulting for global CISO teams.</p>

      </div>
    </div>
  </div>
  <!--End What Block-->

  <!--Start Analysis Block-->
  <div id="analysis-block" class="content-block">
    <div class="row main-title">
      <div class="small-12 large-12 scolumns">
        <ul id="analysis-list" class="no-bullet">
          <li class="text-right list-head">September 2016
            <ul class="no-bullet">
              <li class="list-description"><a title="Understanding Utility IT Services (and Their Implication on Cyber Security)" href="public/img/Understanding-Utility-IT-Report_1.pdf" target="_blank">Understanding Utility IT Services (and Their Implication on Cyber Security)</a></li>
            </ul>
          </li>
          <li class="text-right list-head">September 2016
            <ul class="no-bullet">
              <li class="list-description"><a title="Virtual Absorption of DDOS Attacks" href="public/img/Virtual-Absorption-of-DDOS-Attacks-Paper_1.pdf" target="_blank">Virtual Absorption of DDOS Attacks</a></li>
            </ul>
          </li>
          <li class="text-right list-head">September 2016
            <ul class="no-bullet">
              <li class="list-description"><a title="Securing Virtual Applications Using Software Process" href="public/img/Software-Process-Amoroso-_1.pdf" target="_blank">Securing Virtual Applications Using Software Process Controls</a></li>
            </ul>
          </li>
          <li class="text-right list-head">September 2016
            <ul class="no-bullet">
              <li class="list-description"><a title="Virtualizing Alice &amp; Bob" href="public/img/Virtualizing-Alice-and-Bob-Amoroso-1.pdf" target="_blank">Virtualizing Alice and Bob</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--End Analysis Block-->

  <!--Start Services Block-->
  <div id="services-block" class="content-block">
    <div class="row main-title">
      <div class="small-2 large-2 small-offset-2 large-offset-2 columns show-for-large">
        <ul class="no-bullet">
          <li class="services-list">Training</li>
          <li class="services-list">Consulting</li>
          <li class="services-list">M&amp;A Advisory</li>
          <li class="services-list">Private CISO Coaching
          </li>
          <li class="services-list">Boot Camp/ Corporate Board</li>
        </ul>
      </div>
      <div class="small-6 columns hide-for-large">
        <ul class="no-bullet">
          <li class="services-list">Training</li>
          <li class="services-list">Consulting</li>
          <li class="services-list">M&amp;A Advisory</li>
          <li class="services-list">Private CISO Coaching
          </li>
          <li class="services-list">Boot Camp/ Corporate Board</li>
        </ul>
      </div>
      <div class="small-6 large-8 columns">
        <h3 class="services-text show-for-large"><span class="thinner-text">OUR</span>
  <span class="thin-text">SERVICES</span></h3>
        <h3 class="services-text hide-for-large"><span class="thinner-text">OUR</span>
  <span class="thin-text">SERVICES</span></h3>
      </div>

    </div>
  </div>
  <!--End Services Block-->

  <!--Start Contact Block-->
  <div id="contact-block" class="content-block">
    <div class="row main-title">
      <div class="small-12 large-5 columns">
        <h3 class="contact-text"><span class="thinner-text ">GET IN</span>
  <span class="thin-text">TOUCH</span></h3>
      </div>
      <div class="small-12 large-7 columns">
        <form>
          <div class="row">
            <div class="small-12 large-8 columns">
              <label>Contact Name
                                <input type="text" placeholder="Contact Name">
                            </label>
            </div>
            <div class="small-12 large-8 columns">
              <label>Phone
                                <input type="text" placeholder="Phone">
                            </label>
            </div>
            <div class="small-12 large-8 columns">
              <label>Email
                                <input type="text" placeholder="Email">
                            </label>
            </div>
            <div class="small-12 large-8 columns" id="textarea">
              <label>Message
                                <textarea></textarea>
                            </label>
              <a class="small expanded button" href="#">CONTACT US!</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--End Contact Block-->

  <div id="footer-block">
    <!--Start Footer Block -->
    <div id="first-footer">
      <div class="small-12 large-12 columns ">
        <div class="small-12 large-4 large-offset-3 columns">
          <img id="footer-logo" src="public/img/footer-logo.png" alt- "logo" />
        </div>
      </div>
    </div>

    <div id="second-footer">
      <ul class="" id="footerCopy">
        <li class="footerText"><a href="#">Sitemap &nbsp;| &nbsp;</a></li>
        <li class="footerText"> &copy; 2016 Tag Cyber LLC. All Rights Reserved</li>
      </ul>
    </div>
  </div>
  <!--End Footer Block-->

</div>
<!--End Skewed Container-->
