<div class="container" id="skewed"> <!--Start Skewed container -->

  <i class="fa fa-plus-square-o fa-2x" id="showEbook" aria-hidden="true"></i> <!--Launch Ebook Ad -->

  <div class="pop-out container hidden"> <!--Ebook Block -->

    <div class="row">
      <div class="small-12 large-12 columns">
        <div id="ebook-ad">
          <img id="ebook-img" src="public/img/ebook.png" alt="ebook"/>
          <div id="ebook-text">
            <span id="ebook-bold">COMING SOON</span><br />
            <span id="ebook-thin">September 2016</span><br />
            <span id="ebook-regular">2017 TAG Cyber Security Annual</span><br />
            <p id="ebook-small">Advanced Cyber Security Industry Analysis
              And Technical Guidance for Cisco.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="content-block" id="header"> <!--Start Header Block-->

    <nav>
      <ul class="vertical medium-horizontal menu hidden" id="tagNav">
        <li><a href="#header-block"><i class="fa fa-level-up fa-2x" aria-hidden="true"></i></a></li>
        <li><a href="#why-exist-block">WHY</a></li>
        <li><a href="#how-block">HOW</a></li>
        <li><a href="#what-block">WHAT</a></li>
        <li><a href="#analysis-block">ANALYSIS</a></li>
        <li><a href="#services-block">SERVICES</a></li>
        <li><a href="#contact-block">CONTACT</a></li>
      </ul>

        <i class="fa fa-bars fa-2x" id="menu-burger"aria-hidden="true"></i>

    </nav>

    <div class="header-wrapper" id="header-block">
    <section class="row">
      <div class="logo-wrapper">
        <img src="../public/img/logo.png" alt="brand" id="brand-logo">
      </div>
      <h3 class="text-center" id="header-title">A Global Cyber Security Company</h3>
    </section>
    </div>
  </div> <!--End Header Block-->

  <div class="content-block" id="why-exist-block"> <!--Start Why Exist Block -->
    <div class="why-wrapper">
    <div class="row main-title">
      <div class="small-8 large-8  small-offset-1 large-offset-1 columns">
        <h3 class="why-text">
          <span class="bold-text">WHY</span> <br />
          <span class="thin-text">DO WE</span> <br />
          <span class="thinner-text">EXIST?</span>
          <hr />
        </h3>
      </div>
      </div>
    </div>

    <div class="row">
      <div class="small-8 large-8 small-offset-1 large-offset-1 columns">
        <p id="why-sub-text">
          To help make CISCO teams more effective.
        </p>
      </div>
    </div>
  </div> <!--End Why Exist Block-->

  <div class="content-block first-divider"></div>

  <div class="content-block" id="how-block"> <!--Start How Block -->
    <div class="row main-title" >
      <div class="small-4 large-4  small-offset-1 large-offset-1 columns">
        <h3 class="how-text">
          <span class="bold-text">HOW</span> <br />
          <span class="thin-text">DO WE</span> <br />
          <span class="thinner-text">DO THIS?</span>
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="small-8 large-8 small-offset-1 large-offset-1 columns">
        <p id="how-sub-text">
          Through collaboration with global CISCO teams and the cyber security industry.
        </p>
      </div>
    </div>
  </div> <!--End How Block-->

  <div class="content-block second-divider"></div>

  <div class="content-block" id="what-block"> <!--Start What Block-->
    <div class="row main-title" >
      <div class="small-4 large-4  small-offset-1 large-offset-1 columns">
        <h3 class="what-text">
          <span class="bold-text">WHAT</span> <br />
          <span class="thin-text">DO WE</span> <br />
          <span class="thinner-text">OFFER?</span>
          <hr />
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="small-8 large-8 small-offset-1 large-offset-1 columns">
        <p id="what-sub-text">
          Expert advice, analysis, guidance, training, and counsel for global CISCO teams.
        </p>
      </div>
    </div>
  </div> <!--End What Block-->

  <div class="content-block" id="analysis-block"> <!--Start Analysis Block-->
    <div class="row main-title" >
      <div class="small-12 large-12  scolumns">

        <ul class="no-bullet" id="analysis-list">

          <li class="text-right list-head">April 2016
            <ul class="no-bullet">
              <li class="list-description">
                Understanding Utility IT Services <br /> (and Their Implication on Cyber Security)
              </li>
            </ul>
          </li>

          <li class="text-right list-head">April 2016
            <ul class="no-bullet">
              <li class="list-description">
                Virtual Absorption of DDOS Attacks
              </li>
            </ul>
          </li>

          <li class="text-right list-head">April 2016
            <ul class="no-bullet">
              <li class="list-description">
                Securing Virtual Applications Using Software <br /> Process Controls
              </li>
            </ul>
          </li>

          <li class="text-right list-head">April 2016
            <ul class="no-bullet">
              <li class="list-description">
                Virtualizing Alice and Bob
              </li>
            </ul>
          </li>

        </ul>

      </div>
    </div>
  </div> <!--End Analysis Block-->

  <div class="content-block" id="services-block"> <!--Start Services Block-->
    <div class="row main-title" >
      <div class="small-2 large-2  small-offset-2 large-offset-2 columns">
        <ul class="no-bullet">
          <li class="services-list">Training</li>
          <li class="services-list">Consulting</li>
          <li class="services-list">M&A Advisory</li>
          <li class="services-list">Private CISCO <br /> Coaching</li>
          <li class="services-list">Boot Camp/ <br / > Corporate Board</li>
        </ul>
      </div>
      <div class="small-8 large-8 columns">
        <h3 class="services-text">
          <span class="thinner-text">OUR</span><br />
          <span class="thin-text">SERVICES</span>
        </h3>
      </div>
    </div>
  </div> <!--End Services Block-->

  <div class="content-block" id="contact-block"> <!--Start Contact Block-->
    <div class="row main-title" >
      <div class="small-4 large-4 columns">
        <h3 class="contact-text">
          <span class="thinner-text ">GET IN</span><br />
          <span class="thin-text">TOUCH</span>
        </h3>
      </div>

      <div class="small-8 large-8 columns">

        <form>
          <div class="row">
            <div class="small-12 large-8 columns">
              <label>Input Label
                <input type="text" placeholder=".medium-6.columns">
              </label>
            </div>
            <div class="small-12 large-8 columns">
              <label>Input Label
                <input type="text" placeholder=".medium-6.columns">
              </label>
            </div>
            <div class="small-12 large-8 columns">
              <label>Input Label
                <input type="text" placeholder=".medium-6.columns">
              </label>
            </div>
            <div class="small-12 large-8 columns" id="textarea">
              <label>Input Label
                <textarea></textarea>
              </label>
              <a class="small expanded button" href="#">CONTACT US</a>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div> <!--End Contact Block-->

  <div id="footer-block"> <!--Start Footer Block -->
    <div id="first-footer" >
      <h1>Footer!!!!!</h1>
    </div>

    <div id="second-footer">
      <P>COPYRIGHT!!!!</P>
    </div>
  </div> <!--End Footer Block-->

</div> <!--End Skewed Container-->
