<div>
  <div class="block-header">
  </div>

  <div class="block-content-even">
  </div>

  <div class="block-content-spacer">
  </div>

<!--Every other from here On for skewed edges-->

  <div class="block-content-even">
  </div>

  <div class="block-content-spacer">
  </div>

  <div class="block-content-even">
  </div>

  <div class="block-content-odd">
  </div>

  <div class="block-content-even">
  </div>

  <div class="block-content-odd">
  </div>

  <div class="block-content-footer">
  </div>

  <div class="copy">

  </div>

</div>
