html body {
  width: 100%;
  height: 100%; }

body {
  margin: 0; }

.block-header {
  height: 65%;
  transform: skew(0deg, -3deg);
  margin-top: -80px;
  z-index: 1;
  height: 650px;
  background-image: url(../img/header-bg.png) !important;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.block-content-footer {
  background: #BDBDBD;
  height: 300px !important;
  padding-bottom: 50px; }

.block-content-spacer {
  height: 300px !important;
  background-image: url(../img/first-divider.png) !important;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.copy {
  width: 100%;
  background: #212121;
  height: 50px; }

/*Background Styles*/
#first-page {
  height: 70vh;
  width: 100%;
  background-image: url(../img/what-we-offer-bg.png) !important;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

#offer-bg {
  height: 70vh;
  width: 100%;
  background-image: url(../img/what-we-offer-bg.png) !important;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.getInTouch {
  height: 70vh;
  width: 100%;
  background-image: url(../img/get-in-touch-bg.png) !important;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

#how-bg {
  height: 70vh;
  width: 100%;
  background-image: url(../img/how-bg.png) !important;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

#analysis {
  height: 70vh;
  width: 100%;
  background-image: url(../img/analysis-bg-2.png) !important;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

/*Spacer Styles*/
#service-bg {
  height: 70vh;
  width: 100%;
  background-image: url(../img/our-services-bg.png) !important;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.wrapper {
  width: 100%; }
